<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://koreaphone.net/cdn/shop/products/s-l1600_1_702f216b-11a4-4cc4-8125-3c51bd32fc30_1800x1800.jpg?v=1632458606" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.samsungmobilepress.com/file/6363075884D659F5DC6A1E74506A0BC1C35C4A515F20EB3B0DAD6D051228F29E30849934413611183B55912EFC9B403DD8E422F60E1C5C0779BE57DFA3E920953AD03FE17376F194276D64818C95D733EDA3F0839A11116F8046E1C5FCAAC0D043A6271DD71925307B9C81737F0430726DA9B6DAF7FAB69E70A1774DEC3DF644D29771C075F925FFC1EF735A7246A257" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>