<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://koreaphone.net/cdn/shop/products/s-l1600_1_702f216b-11a4-4cc4-8125-3c51bd32fc30_1800x1800.jpg?v=1632458606" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.samsung.com/id/smartphones/galaxy-z-flip4/images/galaxy-z-flip4-share-image.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.samsungmobilepress.com/file/C0B7893AE74D776F7D07C90D2E43480E409703F6F10FCD8328BA6321B502E31C1DD6376DF1B5868A0DB380114425C0C85F95D57206865FC48EE14F225448184C3D0BAA59E14DCFBBAB876313B3FED51BA0DED98A516595C5A571D0B22CBD8CA4AF36F822A14A7C11EE33D7A7E821B62874942B1D8D00F200BFA9B814375C13D2C6EAC25FFAE7184926A60E9DA5557C9B57422D5F6EB13819644C3F4105953F9B" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Get Your Premium Samsung Device!</strong>
                </h1>
                <p>
                    <strong>Choose your own style</strong>
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
